<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>news bot</title>
  <script src="./bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="./bootstrap.min.css">
</head>
<body class="bg-dark">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
          <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
            <img src="bot.png" alt="">
          </a>
        </div>
  
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href="config" class="nav-link  px-3 hover-overlay" >Config</a></li>
          <li><a href="#" class="nav-link  px-3 hover-overlay " >Test link</a></li>

        </ul>
  
        <div class="col-md-3 text-end">
          <form method="post" id='bot_form' action="set_bot">
            <input type="hidden" name="bot_data" id="bot_data" >
          <button class="btn btn-success rounded-pill px-5" type="button" onclick="Start()">Start</button>
          <button class="btn btn-danger rounded-pill px-5" type="button" onclick="Stop()">Stop</button>
          <input type="submit" style="visibility: hidden;">
          </form>
        </div>
      </header>