<%- include('header'); -%>
            
<% subs.forEach(function(sub) { %>
    <form method="post" action="setcookie" style="display: inline-block;" class="mx-2">
    <input type="hidden" name="filename" value=<%= sub %>>
    <input type="submit" class="btn btn-secondary btn-lg" value=<%= sub %>> 
    </form>
<% }); %> 
<form action="clear_log" method="post">


<div class="form-group">
    <div class="my-4 mx-5">

        <span class="display-7 mx-5 text-white px-5">Logs :</span>
        <input type="submit" value="clear logg" class="btn-warning">

    </div>
    <div class="row justify-content-center text-center align-items-center">
        <div class="col-xl-8 col-lg-9 col-md-10 layer-3 aos-init aos-animate" data-aos="fade-up" data-aos-delay="500">

               
            <textarea class="form-control bg-secondary text-light"  name="conf" id = "logger" rows="30" disabled></textarea>
        </div>
      </div>

</div>
</form>
<script>
    function log_data(){
        let textarea=document.getElementById("logger")
        fetch("./get_log").then(data=>data.text().then(el=>
    textarea.innerHTML=el
    ))
        setTimeout(log_data,10)
    }
    log_data();
</script>
<%- include('footer'); -%>