<%- include('header'); -%>
<h1 class="display-6 text-white py-2">Logs :</h1>
<div class="form-group">
    <div class="row justify-content-center text-center align-items-center">
        <div class="col-xl-8 col-lg-9 col-md-10 layer-3 aos-init aos-animate" data-aos="fade-up" data-aos-delay="500">
            <textarea class="form-control bg-secondary text-light"  name="conf" id = "logger" rows="30" disabled></textarea>
        </div>
      </div>

</div>
<script>
    function log_data(){
        let textarea=document.getElementById("logger")
        fetch("./get_log").then(data=>data.text().then(el=>
    textarea.innerHTML=el
    ))
        setTimeout(log_data,100)
    }
    log_data();
</script>
<%- include('footer'); -%>